/*--------------------------Navigation Styles---------------------------*/
.navbar-brand {
    padding:0 10px;
    font-size:30px;
    line-height:54px;
    font-weight:normal;
    height:auto;
    color: gold;
}
