/*--COLORS
#a3a3a3 - gray/dark white
#74c7d5 - original teal
#228Ca8 - new teal/blue
#545454 - lightgray/ light black
--*/

/*-------------------------Main Layout Styles---------------------------*/
.mt-0 {
    margin-top: 0!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.img-center {
    margin:20px auto;
}

#main-nav {
    width: 100vw;
}

#main-nav a.ir-logo {
    margin:0;
    margin-top:5px;
    padding:0;
    width:151px;
    height:57px;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
    background: url("../assets/logo.png");
}

#main-nav a.ir-logo span {
    color:transparent;
    font:0/0 a;
}

.navbar {
    margin:0;
    border-radius:0;
}

/*--------------------------- Preloader Styles -----------------------------*/
#page-loader {
	position: fixed;
	right:0;
	bottom: 0;
	top: 0;
	width:100%;
	background: #fff;
	z-index: 99999;
}

#page-loader .page-loader-gif {
	display: block;
	width:64px;
	height:64px;
	position: absolute;
	top:50%;
	left:50%;
	margin:-32px 0 0 -32px;
	background: url('../assets/preloader.gif') no-repeat;
}

/*------------------------------Main Typography Styles---------------------------------*/
body {
    font-family: Lato, sans-serif;
    color:#999;
	overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Lato, sans-serif;
	color:#a3a3a3;
}

h1 {
    font-size:30px;
    line-height:30px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:0.02em;
}

h2.section-title {
    position:relative;
    margin:0 0 124px;
    font-size:24px;
    line-height:64px;
    font-weight:300;
    text-align:center;
    color:#545454;
    z-index:1;
    letter-spacing: 20px;
    text-decoration: underline;
}

h2 {
    font-size:21px;
    line-height:24px;
    font-weight:bold;
    text-transform:uppercase;
}

p {
    font-size:18px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0.01em;
    margin-bottom:20px;
}

a, a:hover, a:focus {
    outline:none !important;
    text-decoration:none;
}

a {
  color: #228Ca8;
  text-decoration: none;
}

a:hover, a:focus {
  color: #229Cc8;
  text-decoration: none;
}

a:focus, .btn:focus {
  outline: none;
}

/*--------------------------Navigation Styles---------------------------*/
.navbar-brand {
    padding:0 10px;
    font-size:30px;
    line-height:54px;
    font-weight:normal;
    height:auto;
    color:#a3a3a3;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    color: #fff;
}

.navbar-brand span {
    font-size:24px;
    font-weight:300;
}

#main-nav.scrolled .navbar-brand {
    color:#a3a3a3;
}

#main-nav.scrolled .navbar-brand:hover {
    color:black;
}

#main-nav {
    background:transparent;
    color:#fff;
    box-shadow:0 0 0px transparent;
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav.scrolled {
    background:#fff;
    border-bottom:1px solid #ddd;
}

#main-nav .container {
    padding:20px 20px;
    -webkit-transition:padding 0.5s ease-out;
    transition:padding 0.5s ease-out;
}

#main-nav.scrolled .container {
    padding:0 20px;
}

#main-nav .nav a {
    padding:0px 10px;
    font-size:18px;
    line-height:54px;
    font-weight:400;
    background:transparent;
    color:rgb(213, 212, 212);
}

#main-nav .nav li.active a, #main-nav .nav a:active, #main-nav .nav a:hover {
    color: #fff;
}

#main-nav.scrolled .nav li.active a, #main-nav.scrolled .nav a:active, #main-nav.scrolled .nav a:hover {
    color: black;
}

#main-nav.scrolled .nav a {
    color:#a3a3a3;
}

#main-nav li {
    background:transparent;
    margin:0 10px;
    border:2px solid transparent;
}

#main-nav .dropdown-menu a {
    font-size:14px;
}

#main-nav .navbar-toggle {
    border:1px solid rgba(255,255,255,0.5);
    border-radius:0;
}

#main-nav .icon-bar {
    background:#fff;
}


/* Hover Effect */
#main-nav .nav a {
    position:relative;
    cursor: pointer;
}

#main-nav .nav a:before {
	position: absolute;
	bottom:-5px;
	left: 50%;
	color: transparent;
	content: '/';
	text-shadow: 0 0 transparent;
	font-size: 16px;
	line-height:21px;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

#main-nav .nav a:hover:before, #main-nav .nav li.active a:before {
	color: #fff;
	text-shadow: 12px 0 #fff, -12px 0 #fff;
}

#main-nav.scrolled .nav a:hover:before, #main-nav.scrolled .nav li.active a:before {
	color: black;
	text-shadow: 12px 0 black, -12px 0 black;
}

.no-textshadow #main-nav .nav a:before {
	content: '\ | /';
}

.no-csstransforms #main-nav .nav a:before {
	margin-left:-15px;
}

/*---------------------------Header Styles------------------------------*/
.home-particle {
    height: 50%;
}

.jumbotron {
    background:transparent;
    color:#74c7d5;
}

header.jumbotron {
    padding:0;
    margin-bottom:0;
    min-height:500px;
}

.jumbotron .left-col, .jumbotron .right-col {
    float:left;
}

.jumbotron .message-box {
    color: white;
    width:100%;
    margin:0;
    padding:20px 0;
}

.jumbotron .left-col {
	width:35%;
    text-align:right;
}

.jumbotron .right-col {
	width:65%;
    text-align:left;
    overflow:hidden;
    border:none;
    box-shadow:none;
    background:transparent;
    margin:0;
    padding:0;
}

.jumbotron .left-col p {
    display:inline-block;
    margin:0;
    padding:18px 5px 12px 30px;
    font-size:38px;
    font-weight:300;
    line-height:48px;
}

.jumbotron .left-col p span {
    font-size:42px;
    font-weight:400;
    letter-spacing: 10px;
}

.jumbotron .right-col p {
    display:inline-block;
    margin:0;
    padding:10px 30px 10px 5px;
    font-size:110px;
    line-height:110px;
    font-weight:900;
    text-transform:uppercase;
}

.jumbotron .home-slider .slides li {
    opacity:0;
    -webkit-ransition:opacity 0.4s ease-out;
    transition:opacity 0.4s ease-out;
}

.no-csstransitions .jumbotron .home-slider .slides li {
    opacity:1;
}

.jumbotron .home-slider .slides li.flex-active-slide, .jumbotron .home-slider .slides li.clone {
    opacity:1;
}

.scroll-down {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    text-decoration: none;
}

.scroll-down-icon {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    left: 50%;
    bottom: 4px;
    color: #fff;
    font-size: 30px;
    -webkit-animation: scroll-down-anim 1s infinite;
    -moz-animation: scroll-down-anim 1s infinite;
    -o-animation: scroll-down-anim 1s infinite;
    animation: scroll-down-anim 1s infinite;
    z-index: 2;
}

@keyframes scroll-down-anim {
    0% {
        bottom: 2px;
    }
    50% {
        bottom: 7px;
    }
    100% {
        bottom: 2px;
    }
}

/*-----------------------------About Styles-------------------------------*/
#about {
    background-color: white;
    color:#545454;
    padding:80px 0;
}

#about h2 {
    letter-spacing: 20px;
    text-align: center;
}

#about p {
    font-size:16px;
    line-height:36px;
    font-weight:300;
    margin-bottom:42px;
}

#about a:hover {
    text-decoration:underline;
}

.about-photo {
    background: lightgray;
    border-radius: 100px;
}

#about img {
    box-shadow:12px 0px 0px 12px rgba(255,255,255,0.2),
                -12px 0px 0px 12px rgba(255,255,255,0.2);
}

.about-to-project {
    text-align: center;
}

#about .btn-theme.transparent {
    font-size:18px;
    text-decoration:none;
}

.btn-theme.transparent {
	color:#a3a3a3;
	background-color:transparent;
	padding:14px 35px;
	border:2px solid #a3a3a3;
	font-weight:400;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.btn-theme.transparent:hover, .btn-theme.transparent:focus, .btn-theme.transparent:active {
	color:black;
	background-color: transparent;
	border:2px solid black;
	opacity:1;
}

/*-----------------------------Skills Styles------------------------------*/
.devicon {
    text-align: center;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.devicon div {
    color: #a3a3a3;
    margin: auto;
    width: 20%;
    height: 10%;
}

.devicon svg {
    opacity: 0.7;
}

.devicon > div:hover p, .devicon > div:focus p, .devicon > div:active p {
    color: black;
}

.devicon > div:hover svg, .devicon > div:active svg, .devicon > div:focus svg {
    opacity: 1;
}

.devicon div svg {
    display: inline-block;
    height: 25%;
    width: 25%;
    margin: auto;
}

#skills {
    background:#fff;
    color:#999;
    padding:80px 0;
}

/*---------------------------Portfolio Styles---------------------------*/
#portfolio {
    background:#f5f5f5;
    padding:80px 0;
}

#filter-works {
    margin-bottom: 1%;
}

#filter-works ul {
    list-style:none;
    padding:0;
    margin:0;
}

#filter-works ul li {
    display:inline-block;
    padding:0;
    line-height:24px;
    background:transparent;
    margin:0 0 0 10px;
}

#filter-works ul li:after {
    content:"/";
    margin-left:10px;
    font-size:24px;
    line-height:24px;
    font-weight:300;
    color:#a3a3a3;
}

#filter-works ul li:last-child:after {
    display:none;
}

#filter-works ul li a, #filter-works ul li a:active, #filter-works ul li a:hover {
    padding:0;
    font-size:20px;
    line-height:24px;
    font-weight:300;
    background:transparent;
    color:#a3a3a3;
    text-transform:uppercase;
    text-decoration:none;
}

#filter-works ul li:hover a, #filter-works ul li.active a {
    color:black;
    text-decoration: underline;
}

.masonry-wrapper {
    margin:0 auto;
    padding:0;
    overflow:hidden;
}

#projects-container {
    margin:0 auto;
    visibility:hidden;
}

#projects-container .project-item {
    display:block;
    position:relative;
    margin:0;
    width:350px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity:1;
	overflow:hidden;
}

#projects-container .project-item.filtered {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
    transform:scale(0);
	opacity:0;  
}

.project-item img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
    -webkit-transition:-webkit-transform 0.3s ease-out;
    transition:transform 0.3s ease-out;
}

.project-item:hover img {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
    transform:scale(1.3);
}

.project-item .hover-mask {
    position:absolute;
    padding:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
    background:rgba(60, 72, 72, 0.9);
}

.project-item .hover-mask:hover, .project-item .hover-mask:active, .project-item .hover-mask:focus {
    opacity: 1;
    padding:15px;
}

.project-item .hover-mask .project-title {
    color:#fff;
    padding:16px;
    font-size:21px;
    line-height:24px;
    font-weight:300;
}

.project-item .hover-mask p {
    color:#fff;
    margin:0;
    font-size:20px;
    line-height:24px;
    font-weight:300;
    text-align:center;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
    opacity: 1;
}

.project-item .hover-mask:hover span {
    opacity: 2;
}

.project-item .hover-mask:hover span:hover {
    cursor: pointer;
    color: #a3a3a3;
}

.stubbies-img, .tictac-img, .fridgebridge-img {
    height: 175px;
    width: 375px;
}

.project-item .hover-mask .live {
    padding-right: 20%;
}

.project-item .hover-mask .code {
    padding-left: 20%;
}

.masonry, .masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
          
   transition-timing-function:ease-in-out;    
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top, -webkit-transform, opacity;
     -moz-transition-property: left, right, top, -moz-transform, opacity;
      -ms-transition-property: left, right, top, -ms-transform, opacity;
       -o-transition-property: left, right, top, -o-transform, opacity;
          transition-property: left, right, top, transform, opacity;
}

/*---------------------------Contact Styles-----------------------------*/
#contact {
    background:transparent;
    color:#fff;
	padding:80px 0;
}

#contact .section-title {
    color:#fff;
    margin-bottom:84px;
}

#contact .contact-info h3 {
    color: white;
}

#contact .contact-info li {
    list-style-type: none;
    padding-bottom: 1%; 
}

#contact .contact-info li > i {
    font-size: 35px;
}

#contact .contact-info li:nth-child(3) > i {
    font-size: 30px;
}

#contact .contact-info i {
    font-size: 40px;
}

#contact .contact-info p {
    margin:0 0 30px;
    font-size:18px;
    line-height:30px;
    font-weight:400;
    color: #fff;
}

.phone, .email {
    color: #fff;
    text-decoration: underline;
}

.phone:hover, .email:hover {
    color: #a3a3a3;
    text-decoration: underline;
}

#contact-form .form-group label {
    display:none;
    font-size:18px;
    line-height:24px;
    font-weight:400;
    text-transform:uppercase;
}

#contact-form .form-control {
    background:#fff;
    background:rgba(255,255,255,0.9);
    border:none;
    border-radius:1px;
    outline:none;
    box-shadow:none;
    margin-bottom:30px;
    height:68px;
    font-size:30px;
    line-height:48px;
    font-weight:300;
    color:black;
    padding-left:64px;
}

#contact-form .form-group {
    position:relative;
}

#contact-form .form-group [class*="fa"] {
    display:block;
    width:64px;
    position:absolute;
    top:0;
    left:5px;
    color:#a3a3a3;
    font-size:32px;
    line-height:68px;
    text-align:center;
    font-weight:300;
}


#contact-form textarea.form-control {
    height:auto;
	max-width:100%;
	min-width:100%;
    font-size:30px;
    line-height:42px;
	padding-top:14px;
}

#contact-form .form-control:focus {
    border:none;
    outline:none;
    box-shadow:none;
}

#contact-form .controls:hover i {
    color: black;
}

.btn-theme {
	color:#a3a3a3;
	padding:15px 90px;
	font-size:24px;
	font-weight:300;
	text-transform:uppercase;
	border:none;
	border-radius:0;
	-webkit-transition:color 0.2s ease-in-out;
	transition:color 0.2s ease-in-out;
}

.btn-theme:hover, .btn-theme:active, .btn-theme:focus {
	cursor:pointer;
	color:black;
}

.btn-theme [class*=fa] {
    margin-right:10px;
}

#contact-form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a3a3a3;
}

#contact-form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a3a3a3;
    opacity:1;
}

#contact-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a3a3a3;
    opacity:1;
}

#contact-form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a3a3a3;
}

#contact-form .error-message {
    background:black;
    padding:10px 20px;
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:16px;
    font-weight:400;
}

/*---------------------------Footer Styles-----------------------------*/
#main-footer {
    background:#fff;
    color:#a3a3a3;
    padding:30px 0;
}

.footerContent {
    position: relative;
    width: 100%;
}

#main-footer .small-logo {
    padding:10px 0 0 0;
    margin:0;
    margin-bottom:24px;
    font-size:24px;
    line-height:24px;
    font-weight:normal;
    text-align: center;
}

#main-footer .small-logo a {
    color:#a3a3a3;
}

#main-footer .small-logo a:hover {
    color:black;
}

#main-footer h5 {
    text-align: center;
}

#main-footer .small-logo span {
    padding:0;
    font-size:18px;
    line-height:24px;
    font-weight:300;
    text-transform:none;
}

#main-footer ul.footer-nav {
    text-align: center;
    list-style:none;
    padding:0;
    margin:0;
    margin-bottom:24px;
}

#main-footer ul.footer-nav li {
    display:inline-block;
    padding:0 15px;
    line-height:24px;
}

#main-footer ul.footer-nav li:first-child {
    padding-left:0;
    border-right:1px solid #a3a3a3;
}

#main-footer ul.footer-nav li:last-child {
    border-left:1px solid #a3a3a3;
    padding-right: 0;
}

#main-footer ul.footer-nav li a {
    color:#a3a3a3;
    text-decoration:none;
    font-size:14px;
    line-height:24px;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:0.02em;
    padding:0;
    -webkit-transition:color 0.2s ease-out;
    transition:color 0.2s ease-out;
}

#main-footer ul.footer-nav li a:hover, #main-footer ul.footer-nav li a:active {
    color:black;
    text-decoration:none;
    cursor: pointer;
}

.scroll-up {
    position: absolute;
    left: 50%;
}

.scroll-up-icon {
    position: absolute;
    left: 50%;
    -webkit-animation: scroll-up-anim 1s infinite;
    -moz-animation: scroll-up-anim 1s infinite;
    -o-animation: scroll-up-anim 1s infinite;
    animation: scroll-up-anim 1s infinite;
    z-index: 2;
}

@keyframes scroll-up-anim {
    0% {
        bottom: 7px;
    }
    50% {
        bottom: 2px;
    }
    100% {
        bottom: 7px;
    }
}

/*---------------------------Scrolling animations----------------------------*/
.scrollimation.fade-in {
	opacity:0;
	-webkit-transition:opacity 0.4s ease-out;
	transition:opacity 0.4s ease-out;
}

.scrollimation.fade-in.in {
	opacity:1;
}

.scrollimation.scale-in {
	opacity:0;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform:scale(0.8);
	-webkit-transition: -webkit-transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
	transition: transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
}

.scrollimation.scale-in.in {
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.scrollimation.fade-right {
	opacity:0;
	-webkit-transform: translateX(-30px);
	-moz-transform: translateX(-30px);
	-ms-transform: translateX(-30px);
	transform:translateX(-30px);
	-webkit-transition: -webkit-transform .6s ease-in,opacity .8s ease-in;
	transition: transform .6s ease-in,opacity .8s ease-in;
}

.scrollimation.fade-right.in {
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scrollimation.fade-left {
	opacity:0;
	-webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform:translateX(30px);
	-webkit-transition: -webkit-transform .6s ease-in,opacity .8s ease-in;
	transition: transform .6s ease-in,opacity .8s ease-in;
}

.scrollimation.fade-left.in {
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scrollimation.fade-up {
	opacity:0;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	transform:translateY(30px);
	-webkit-transition: -webkit-transform .6s ease-in,opacity .8s ease-in;
	transition: transform .5s ease-in,opacity .8s ease-in;
}

.scrollimation.fade-up.in {
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}

.touch .scrollimation.fade-in {
	opacity:1;
}

.touch .scrollimation.scale-in {
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.touch .scrollimation.fade-right {
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch .scrollimation.fade-left {
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch .scrollimation.fade-up {
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}

/*-----------------------------Media Queries------------------------------*/
@media (max-width: 1199px) {
    .jumbotron .left-col p {
        font-size:28px;
        line-height:32px;
    }

    .jumbotron .left-col p span {
        font-size:36px;
        letter-spacing: 10px;
    }

    .jumbotron .right-col p {
        font-size:82px;
        line-height:82px;
    }
}

@media (max-width: 991px) {
    .jumbotron .message-box {
        padding:10px 0;
    }

    .jumbotron .left-col {
        width:100%;
        text-align:center;
    }

    .jumbotron .left-col p {
        padding:10px;
    }

    .jumbotron .right-col {
        width:100%;
        text-align:center;
    }

    .jumbotron .right-col p {
        padding:10px;
    }
}

@media (max-width: 768px) {
    #main-nav .navbar-brand {
        color:#a3a3a3;
    }

    #main-nav .navbar-brand:active {
        color:black;
    }

    #main-nav {
        background:#fff;
        border-bottom:1px solid #ddd;
    }

    #main-nav .navbar-toggle {
        color:#a3a3a3;
        border-color:#a3a3a3;
    }

    #main-nav .navbar-toggle:focus, #main-nav .navbar-toggle:hover {
        color: black;
        border-color:black;
    }

    #main-nav.navbar-fixed-top .nav li.active a, #main-nav.navbar-fixed-top .nav a:active, #main-nav.navbar-fixed-top .nav a:hover {
        color: black;
    }

    #main-nav .icon-bar {
        background: black;
    }

    #main-nav .container {
        padding:10px 20px;
    }

    #main-nav .nav a {
        color:#a3a3a3;
        line-height:42px;
        text-align:center;
    }

    #main-nav .nav li.active a {
        color:black;
        line-height:42px;
        text-align:center;
    }

    #main-nav .nav a:before {
        display:none;
    }

    .jumbotron .left-col p {
        font-size:24px;
        line-height:28px;
    }

    .jumbotron .left-col p span {
        font-size:32px;
        letter-spacing: 10px;
    }

    .jumbotron .right-col p {
        font-size:62px;
        line-height:62px;
    }

    #main-footer ul.footer-nav {
        margin-bottom:24px;
    }

    #main-footer .left-col, #main-footer .right-col {
        text-align:center;
    }

    h2.section-title {
        font-size:36px;
        line-height:56px;
        letter-spacing: 0;
    }

    .devicon {
        height: 100vmin;
    }

    .devicon div {
        width: 33%;
        height: 24%;
    }

    #contact .contact-info ul {
        padding: 0;
    }

    #contact .contact-info i {
        width: 100%;
    }

    #contact .contact-info {
        text-align: center;
    }
}

@media (max-width: 479px) {
    .jumbotron .right-col p {
        font-size:38px;
        line-height:38px;
    }

    h2.section-title {
        font-size:24px;
        line-height:46px;
    }


    p {
        font-size:16px;
        line-height:21px;
    }

    .btn-theme {
        padding:15px 40px;
        font-size:18px;
    }

    #about p {
        font-size:15px;
        line-height:28px;
    }


    #filter-works ul li a {
        font-size:21px;
        line-height:28px;
    }

    #contact .contact-info p {
        font-size:16px;
        line-height:26px;
    }

    #contact .form-control {
        height:58px;
        font-size:24px;
        line-height:30px;
    }

    #contact .form-group [class*="fa"] {
        font-size:32px;
        line-height:58px;

    }

    #contact textarea.form-control {
        font-size:24px;
        line-height:32px;
        padding-top:14px;
    }

    #contact-form > p {
        text-align: center;
    }
}
